html
  head
    title= title
    link(href="css/main.css" rel="stylesheet")
  body
    section(id="swatch-container")
      div(class="swatch")
      div(class="swatch")
      div(class="swatch")
      div(class="swatch")
      div(class="swatch")
      div(class="swatch")
      
    img(id="screenshot" src= src)
